.App {
  text-align: center;
}

.App-toggler {
  text-align: left;
  padding: 10px 10px 20px;
  background-color: #282c34;
}

.App-content {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
}

.App-editor {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.App-items {
 padding-left: 20px;
}

.App-item {
  padding: 10px;
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}

.App-item * {
  margin-right: 10px;
}

.Editor-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.Editor-item input {
  background: #ccc;
  height: 30px;
  color: #00e;
  font-size: 20px;
  border-radius: 5px;
}